.banner{
	background-image: url(../../images/bannière.jpg);
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
	color: black;
}

.banner h1{
	font-size: 40px;
	color: #E0DDAA;
}

.banner h2{
	margin-bottom: 20px;
	margin-left: 30px;
}

.banners{
	background-image: url(../../images/banner.jpg);
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
	color: #EEEDDE;
	background-color: #141E27;
}

